In [ ]:
# Contoh contoh variabel

a = 10 # integer
b = 3.14 # float
c = "s" # string
d = "SONY" # string
e = True # boolean
f = False # boolean
g = [] # list
h = [1, 2, 3] # list
i = {} # dictionary
j = () # tuple

In [ ]:
# print => untuk debugging
print(2+4*3)

In [ ]:

# concatination

nama = "Hafizzz"
umur = 111
alamat = "Atlantis"

print("hai namaku adalah " + nama)
print("hai namaku adalah {}, umurku {}, aku tinggal di {}".format(nama, umur, alamat)) #suggested to be use
print("Hai namaku adalah", nama ,", aku tinggal di", alamat ,", umurku", umur)

In [ ]:
# if else

import math

a = 10
b = 10

if a == 10:
  print("a sama dengan 10")
elif a > 10:
  print("a lebih besar dari 10")
else:
  print("a kurang dari 10")

## conditional statement
a == b 
a != b
a <= b
a >= b
a < b
a > b

## Result of conditional statement
True and True
True or True

## operator 
a + b
a - b
a * b
a / b
a // b
a ** b
a % b
a ** (1/2)
math.sqrt(a)
math.sin(a)
math.cos(a)
math.tan(a)
math.log(a)